.producthead {
    background-color: rgb(238, 238, 235);
    text-align: center;
    padding: 10px;
}

.productheadtxt {
    margin: 0;
    color: #804f0e;
}

.productadd {
    display: flex;
    margin-top: 30px;
}

.add {
    background-color: #d2b48c ;
    display: flex;
    padding: 5px;
    border-radius: 5px;
}
.addbtn {
    background-color:#d2b48c ;
    border: none;
    color: white;
}
.addbtn:hover{
    cursor: pointer;
    background-color: #d2b48c;
}    

.search{
    width: 30%;
    background-color: rgb(213, 211, 211);
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
}
.searchinpu{
    margin-left: 10px;
    padding-left: 10px;
    border: none;
    width: 90%;
}
.producttable{
    margin-top: 20px;
    height: 75%;
    width: 98%;
    overflow: scroll;

    box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}
table th {
    background-color: #f4f4f4;
    color: #804f0e;
}

.productimgcard{
    height: 37px;
    width: 30px;
}
.productimg{
    height: 100%;
    width: 100%;
}
.action{
    border-top: none;
}

.ordertable{
    margin-top: 20px;
    height: 85%;
    width: 98%;

    box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
}

/* order screen */
.orderRow{
    cursor: pointer;
}
.orderRow:hover{
    background-color: rgb(215, 213, 213);
}

.FaEdit{
    color:#804f0e;
    cursor: pointer;
}
.FaEdit:hover{
    color:#79490a;
}
.MdDelete{
    color: red;
    cursor: pointer;

}
.MdDelete:hover{
    color: rgb(126, 3, 3);
}

.repoimgcard{
    height: 2rem;
    width: 4rem;
}
