
.cardrating {
    margin-right: 30px;
    margin-top: 1rem;
    width: 60%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    
    box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);

}
.search-input {
    width: 40%; /* Reduce the percentage as needed */
    padding: 10px;
    border: 1px solid #d45087;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease;
}
.rateitem1{
    padding: 10px;
    justify-content: center;
    width: 40%;
    text-align: center;
}
.rateitem2{
    justify-content: center;
    width: 60%;
}
.ratetxt1{
    margin: 0;
    font-size: 45px;
    color: #d45087;
}

.ratecount{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    padding: 20px;
    display: flex;
    justify-content: center;
}
.ratecounttxt{
    color: #d45087;
    margin: 0;
}
.ratecount2{
    display: flex;
    padding: 10px;
    justify-content: center;
}

.reviewcard {
    margin-right: 30px;
    width: 90%;
    height: 85%;
    border-radius: 10px;
    padding: 10px;
    
    box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.28);

}

.rownew {
    display: flex;
    height: 60%;
    margin-top: 10px;
}



.test{
    color: rgb(158, 157, 157);
}
