.signContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Adjust the height as needed */
    background: url('../images/wedding.jpg') no-repeat center center/cover; /* Add your background image here */
}

.formgrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background for glass effect */
    backdrop-filter: blur(10px); /* Glass effect */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust the max width as needed */
    width: 100%;
}

.formgrid img {
    margin-bottom: 20px;
}

.formgrid input {
    font-size: 1.00rem; /* Adjust font size */
    color: white;
    background-color: transparent; /* Ensure background is transparent */
}
.formgrid input:focus + label {
    color: white; /* Set label color to white when input is focused */
    top: -10px; /* Move label up when input is focused */
    font-size: 0.85rem; /* Adjust font size when input is focused */
     background-color: transparent; 
}
.formgrid label {
    font-size: 1.05rem; /* Adjust font size */
    color: white; /* Set label color  */
    pointer-events: none; /* Disable pointer events to make the label non-interactable */
    position: absolute; /* Position the label absolutely for overlay effect */
    top: 3px; /* Adjust top position as needed */
    transition: all 0.3s ease; /* Add transition for smooth animation */
}


.subButton .button {
    font-size: 1rem; /* Adjust font size */
}

form {
    width: 100%;
}

.subButton {
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #804f0e; /* Adjust the background color as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #60390b; /* Darker shade for hover effect */
}

footer {
    margin-top: 0; /* Remove any margin-top if exists */
    padding-top: 20px; /* Adjust padding as needed */
}

.text-white {
    color: white;
}
