.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





body {
  margin: 10;
  padding: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
}

.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Make the container take up the full height of the viewport */
}

.content-container {
  display: flex; /* Display SideBar and TableComponent horizontally */
}

/* Style for NavigationBar, SideBar, and TableComponent */
.NavigationBar {
  background-color: #282c34;
  color: white;
  padding: 10px;
}

/* .SideBar {
  background-color: #f0f2f5;
  color: white;
  padding: 10px;
  width: 200px;
} */

.TableComponent {
  flex: 1;
  padding: 8px;
  
  width: 100%;
}

/* Add styles for other components as needed */
/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
